.books{
    padding: 8px;
}

.m0 {
    margin: 0px;
}

.p0{
    padding: 0px;
}

.img img{
    padding-top: 8px !important;
    cursor: default !important;
    margin: 0px !important;
}

.img img:hover{
    cursor: default !important;
    margin: 0px !important;
    border-radius: 0px !important;
    opacity: 1 !important;
}

.center{
    text-align: center !important;
}

.fix{
    width: max-content;
    margin: 16px auto !important;
    cursor: pointer;
    background-color: #4db5ff !important;
    color: white !important;
    float: none !important;
    margin-top: 10px !important;
    line-height: 3;

}

.fix:hover{
    background-color: white;
    color: #4db5ff !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.portfolio-title{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: -100px;
    color: white;
    font-size: 13px;
    text-align: left;
    padding: 4px;
    line-height: 1.3;
    transition: 0.2s;
}

.hide-box{
    overflow:hidden;
}