.menu-button{
    font-size: 15px;
    font-weight: bold;
    color: #1e1e1e;
    padding-top: 22px;
    margin-left:10px;
    cursor: pointer;
    transition: 0.1s;
}



.menu-button:hover{
    color:#4db5ff;
    font-size: 16px;
}


.active{
    color: #4db5ff;
    font-size: 16px;
    border-bottom: 2px solid #4db5ff;
    transition: 0.2s;
    padding-bottom: 12px;
}

.mobile-menu-button{
    font-size: 16px;
    color: #1e1e1e;
    padding: 12px;
    cursor: pointer;
    transition: 0.1s;
}

.mobile-menu-button:hover{
    background-color: #4db5ff;
    color: white;
}

.mobile-active{
    color: white;
    background-color: #4db5ff;
    font-size: 16px;
    border-left: 10px solid #59a6dc;
}